

.hs {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    color: #949494;
}

.Hou {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.siz {
    height: 20px;
    width: 35px;
}

.stopWatc {
    display: flex;
    margin-top: 15px;
}

.countr {
    color: aqua;
    width: 50px;
    height: 5px;
    background-color: blue;
}

.Mu {
    position: relative;
    display: flex;
    gap: 100px;
    width: 900px;
    margin-left: 10px;
    margin-top: 0;
    background-color: #1E2343;
}

.pause {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start {
    width: 250px;
    height: 35px;
    background: #FF6A6A;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0.04em;
    margin-top: 15px;
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #FF6A6A;
    font-weight: bold;
}

.react-countdown-circle-timer__path {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s;
}

.react-countdown-circle-timer__path-animated {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: countdown 10800s linear infinite; /* 3 hours in seconds 10800s*/
}

.cir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-left: 20px;
    width: 190px;
    height: 190px;
    background: #191E39;
    color: white;
    box-shadow: 0px 6px 26px 0px #0000009C inset;
    box-shadow: -3px -7.000000476837158px 16px 0px #5F58583B;
    border-radius: 50%; /* Corrected border-radius */
    position: relative;
}
