/* UserProfileCard.module.css */

.card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #5746EA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 150px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    margin-right: 20px;
    box-shadow: 0px 2.68501px 2.14801px 0px rgba(0, 0, 0, 0.31);

  }
  
  .user-profile-card {
    flex: 1;
  }
  
  .user-profile-card p {
    margin: 5px 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.188%; /* 38.124px */
    letter-spacing: 0.739px;
  }
  
  .user-profile-card ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .user-profile-card ul li {
    margin-bottom: 5px;
    border-radius: 21px;
    background: #9F94FF;
    padding: 10px 10px 10px 10px;
    width: 50px;
    height: 30px;
    flex-shrink: 0;
    align-items: center;
    
  }

/* Add margin-top to the second and subsequent list items */
.choose-category ul li:not(:first-child) {
  margin-top: 10px; /* Adjust the margin as needed */
}
