/* WeatherInfo.module.css */

.weather-info-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.upper-part {
  width: 75%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
  border-radius: 19px 19px 0px 0px;
  background: #FF4ADE;
  height: 15%;
}

.upper-part p {
  margin: 5px 0;
}

.lower-part {
  width: 75%;
  padding: 20px;
  height: 20%;
  
background: #101744;
}

.lower-part p {
  margin: 5px 0;
  color: white;
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
