/* FormComponent.css */

.form-container {
    background-color: #000000;
    color: #72db73;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form-group input {
    background-color: #292929;
    color: #72db73;
    border: none;
    width: 100%; /* Adjusted width to use full container width */
    padding: 10px;
    border-radius: 8px; /* Added border radius for rounded corners */
    margin-bottom: 10px; /* Spacing between input fields */
  }
  
  .form-group label {
    color: #ffffff;
    margin-bottom: 5px; /* Spacing between label and input field */
  }
  
  button {
    background-color: #72db73;
    color: #000000;
    border: none;
    padding: 15px 30px; /* Adjusted padding for a larger button */
    border-radius: 8px; /* Added border radius for rounded corners */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5cb85c; /* Change color on hover */
  }
 /* FormComponent.css */
.checkbox{
  color: #ffffff;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-label{
  margin-top: 15px;
}

/* Additional styles for the text next to the checkbox */
.form-group .checkbox-text {
  color: #ffffff;
  margin-left: 10px; /* Adjusted spacing between checkbox and text */
}
.account{
  color: white;
}